<div>
  <div class="line">
    <label>Name</label>
    <redux-input autofocus path="person.name"></redux-input>
  </div>
  <div class="line">
    <label>Name 2</label>
    <redux-input path="person.name"></redux-input>
  </div>

  <div class="line">
    <label>Age</label>
    <redux-input path="person.age" type="number"></redux-input>
  </div>

  <div class="line">
    <label></label>
    <redux-input path="person.employed" type="checkbox"></redux-input>
    <span>Employed</span>
  </div>

  <div class="line">
    <label>Direction</label>
    <redux-radio-buttons path="person.direction" [list]="directionList">
    </redux-radio-buttons>
  </div>
  <div>
    <button (click)="pickIdle()">Pick Idle</button>
  </div>

  <div class="line">
    <label>Availability</label>
    <redux-checkboxes [list]="availabilityList">
    </redux-checkboxes>
  </div>
  <div>
    <button (click)="pickEvening()">Pick Evening</button>
  </div>

  <label>Colors</label>
  <redux-input path="newColor" (enter)="addColor()"></redux-input>
  <button (click)="addColor()">&#xFF0B;</button>
  <div class="color-line" *ngFor="let color of colors">
    {{color}}
    <button (click)="deleteColor(color)">&#x2715;</button>
  </div>
</div>
